accelerate
transformers
duckduckgo-search
google-serp-api
langchain
langchain-groq
langchain-community
wikipedia
gradio
torch
torchvision
datasets
bitsandbytes
peft
trl
swig
paddleocr==2.7.0.3
paddle-bfloat==0.1.7
paddlepaddle==2.5.2
uvicorn
fastapi
pydantic
Jinja2